<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lageder.main">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission-sdk-23>

    <application
        android:name="kakaolinkage.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="tabview.GraphPopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="tabview.FeedBackActivity" />
        <activity android:name="kakaolinkage.KakaoLoginActivity" />
        <activity android:name="bluetoothLe.DevicePopupActivity" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity android:name="tabview.DrinkPopupActivity"
            android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>